<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/qcentris?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="show_sql">true</property>

        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="com.mastertheboss.domain.Employee" />
        <mapping class="com.mastertheboss.domain.Department" />

    </session-factory>
</hibernate-configuration>

<!--necessary for : <property name="hibernate.hbm2ddl.auto">update</property>-->
<!--        1. update (Update the schema if necessary)-->
<!--        2. create (create the schema and destroy previous data)-->
<!--        3. create-drop (create and then destroy the schema at the end of the session)-->
<!--        4. none (disable ddl handling)-->
<!--        5. validate (validate the schema , make no changes to the database)-->